/* Sidebar */
.user-sidebar {
  width: 250px;
  background-color: #ff87b2;
  padding: 20px;
  border-radius: 12px;
}

/* Sidebar Links */
.user-sidebar ul {
  list-style: none;
  padding: 0;
}

.user-sidebar ul li {
  padding: 12px;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.user-sidebar ul li:hover {
  background-color: #ff69b4;
  border-radius: 8px;
}
