/* Layout */
/* yesle lock handai cha page */
.layout-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}




/* Main Content (Page) */
.page-scroll-content {
  margin-left: 260px;
  flex: 1;
  overflow-y: auto;
  padding: 30px;
  background-color: #f9fafb;
  height: 100vh;
}

.hero-section {
  margin-bottom: 20px;
}

.page-title {
  font-size: 2rem;
  font-weight: bold;
  color: #111827;
}

.page-description {
  font-size: 1.2rem;
  color: #374151;
}

.page-sections {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.buttons-container {
  margin-top: 10px;
}

.club-button {
  margin: 5px;
  background: #6366f1;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}

.club-button:hover {
  background: #4f46e5;
}
